<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top sticky-top">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand fw-bold d-flex align-items-center" href="/">
      <img class="logo me-2" src="/assets/venueCircle_logo.png" style="height: 45px; max-height: 8vh;">
      Book My Venue
    </a>

    <!-- Hamburger Menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa-solid fa-bars fa-xl" style="color: #0a78cd;"></i></span>
    </button>

    <!-- Nav Content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Center Nav Links -->
      <ul class="navbar-nav mx-auto gap-3 text-center">
        <li class="nav-item"><a class="nav-link <%= isActive('/') %>" href="/"><h5>Home</h5></a></li>
        <li class="nav-item"><a class="nav-link <%= isActive('/listings') %>" href="/listings"><h5>Explore</h5></a></li>
        <li class="nav-item"><a class="nav-link <%= isActive('/listings/AddNew') %>" href="/listings/AddNew"><h5>List Your Venue</h5></a></li>
      </ul>

      <!-- Desktop User Dropdown -->
      <div class="dropdown d-none d-lg-block">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-regular fa-circle-user fa-xl" style="color: #1e8fe6;"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end border">
          <% if (currentUser) { %>
            <li><span class="dropdown-item disabled"><b>Hi, <%= currentUser.username %></b></span></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/my-bookings"> My Bookings</a></li>
            <li><a class="dropdown-item" href="/user/logout"> Logout</a></li>
          <% } else { %>
            <li><a class="dropdown-item" href="/user/login"> Login</a></li>
            <li><a class="dropdown-item" href="/user/signup"> Signup</a></li>
          <% } %>
        </ul>
      </div>

      <!-- Mobile User Dropdown -->
      <div class="d-lg-none text-center mt-3">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-regular fa-circle-user fa-xl" style="color: #1e8fe6;"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end border">
          <% if (currentUser) { %>
            <li><span class="dropdown-item disabled"><b>Hi, <%= currentUser.username %></b></span></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/my-bookings"> My Bookings</a></li>
            <li><a class="dropdown-item" href="/user/logout"> Logout</a></li>
          <% } else { %>
            <li><a class="dropdown-item" href="/user/login"> Login</a></li>
            <li><a class="dropdown-item" href="/user/signup"> Signup</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</nav>
</body>
